.navbar{
    margin-bottom: 20px;
}
.navbar>ul{
    list-style-type: none;

    display: flex;
    justify-content: space-between;
}
.navbar>ul>li>a{
    text-decoration: none;
    font-size: 25px;
    padding: 5px 15px;
    color: teal;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}